* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 0;
  border: 10px solid #1098ad;
}
.main-header {
  background-color: lightgrey;
  margin-bottom: 30px;
}
.main-heading {
  float: left;
  font-size: 30px;
  padding-top: 5px;
}
.main-header::after {
  content: "";
  clear: both;
  display: block;
}
.links-section {
  float: right;
  font-weight: bold;
  font-size: 30px;
}
a:link {
  padding: 20px;
  margin: 0 auto;
  display: inline-block;
}
.laura-image {
  margin: 20px 0;
}
.code-image {
  margin: 20px 0;
}
h1 {
  font-size: 40px;
}
p,
li {
  font-size: 20px;
}
h3 {
  margin-top: 10px;
}
h1,
h2,
h3,
a {
  color: #1098ad;
}

article {
  float: left;
  width: 70%;
  padding-left: 10px;
}
article ul,
ol {
  margin-left: 20px;
}
article p:last-child {
  color: lightcoral;
  margin-top: 10px;
  margin-bottom: 20px;
}
aside {
  float: right;
  width: 25%;
  padding: 10px;
  background-color: lightgray;
  border-width: 5px 0;
  border-color: #1098ad;
  border-style: solid;
}
footer {
  background-color: gold;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
  clear: both;
}

.relatedposts-list {
  list-style: none;
}
.relatedposts-list li {
  margin: 25px 0;
}
.relatedposts-list li a:link {
  margin: 5px 0;
  padding: 0 0;
  display: block;
}
